{% extends 'base.html' %} {% block title %} Detalle Seguro {{ obj.nombre }}{% endblock%} {% block css %}
    <style>
    .table-bordered {
  border: 3px solid #001e6c !important; }
    </style>
{% endblock %} {% block content %}
<div class="card mb-3">
    <h5 class="card-header font-weight-bolder text-gray-900">Detalles del Seguro {{ obj.codigo }}</h5>
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover text-center">
            <thead class="thead-primary">
                <th>Nombre</th>
                <th>Tipo de Contabilidad</th>
                <th>Estado</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ obj.nombre }}</td>
                    <td>{{ obj.tipo_cont }}</td>
                    <td>{{ obj.estado|yesno:"Activo,Inactivo" }}</td>
                </tr>
            </tbody>
        </table>
        <h4 class="text-primary font-weight-bolder">Planes</h4>
        <table class="table table-striped table-bordered table-hover text-center">
            <thead class="thead-primary">
                <th>ID</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Tipo de Plan</th>
                <th>Moneda</th>
                <th>Dias Retro</th>
                <th>Estado</th>
            </thead>
            <tbody>
                {% for item in obj.plan.all %}
                <tr>
                    <td><a href="{% url 'cov:detail-plan' item.id %}">{{ item.id }}</a></td>
                    <td>{{ item.codigo }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.tipo_plan }}</td>
                    <td>{{ item.moneda }}</td>
                    <td>{{ item.dias_retro }}</td>
                    <td>{{ item.estado|yesno:"Activo,Inactivo" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Dias Cancelacion Falta de Pago: </label>
                            <p class="text-gray-900 font-weight-bold">{{ obj.dias_canc }}</p>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Ramo del Plan: </label>
                            <p class="text-gray-900 font-weight-bold">{{ obj.plan_pago.nombre }}</p>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Plan de Pagos: </label>
                            <p class="text-gray-900 font-weight-bold">{{ obj.plan_pago.nombre }}</p>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Tipo de Riesgo: </label>
                            <p class="text-gray-900 font-weight-bold">{{ obj.tipo_riesgo }}</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Renovacion Aut Polizas: </label>
                            <p class="text-gray-900 font-weight-bold">{{ obj.renov_aut|yesno:"Si,No" }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %} {% endblock %}