{% extends 'base.html' %} {% block title %} Detalle Plan {{ obj.nombre }}{% endblock%} {% block css %}
    <style>
    .table-bordered {
  border: 3px solid #001e6c !important; }
    </style>
{% endblock %} {% block content %}
<div class="card mb-3">
    <h5 class="card-header font-weight-bolder text-primary">Detalles del Plan {{ obj.codigo }}</h5>
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover text-center">
                    <thead class="thead-primary">

                    <th>Nombre</th>
                    <th>Tipo de Plan</th>
                    <th>Moneda</th>
                    <th>Dias Retro</th>
                    <th>Estado</th>
                    </thead>
                    <tbody>

                        <tr>

                        <td>{{ obj.nombre }}</td>
                        <td>{{ obj.tipo_plan }}</td>
                        <td>{{ obj.moneda }}</td>
                        <td>{{ obj.dias_retro }}</td>
                        <td>{{ obj.estado|yesno:"Activo,Inactivo" }}</td>
                        </tr>

                    </tbody>
                </table>
        <h4 class="text-primary font-weight-bolder"> Coberturas</h4>
        <table class="table table-striped table-bordered table-hover text-center">
                    <thead class="thead-primary">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    </thead>
                    <tbody>
                    {% for item in obj.cobert.all %}
                        <tr>

                         <td><a href="{% url 'cov:detail-cov' item.id %}">{{ item.id }}</a></td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.estado|yesno:"Activo,Inactivo" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tipo Plan: </label>
                            <p class="text-dark font-weight-bold">{{ obj.tiṕos_plan.nombre }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Modalidad del Seguro: </label>
                            <p class="text-dark font-weight-bold">{{ obj.mod_seg.nombre }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tipo Plan de Poliza: </label>
                            <p class="text-dark font-weight-bold">{{ obj.tipo_pol.nombre }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Codigo de Temporalidad: </label>
                            <p class="text-dark font-weight-bold">{{ obj.cod_tempo }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nivel Comercial: </label>
                            <p class="text-dark font-weight-bold">{{ obj.niv_com.nombre }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>% Gastos de Administracion: </label>
                            <p class="text-dark font-weight-bold">{{ obj.porc_gast_adm }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>% Utilidad: </label>
                            <p class="text-dark font-weight-bold">{{ obj.porc_utilidad }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>% Maximo de Comision: </label>
                            <p class="text-dark font-weight-bold">{{ obj.porc_max_comi}}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Plazo Aceptacion Siniestros: </label>
                            <p class="text-dark font-weight-bold">{{ obj.plazo_acept_sin }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Indsisputibilidad: </label>
                            <p class="text-dark font-weight-bold">{{ obj.indisput }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>% Gastos de Adquisicion: </label>
                            <p class="text-dark font-weight-bold">{{ obj.porc_gastos_adq }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Duracion del Plan: </label>
                            <p class="text-dark font-weight-bold">{{ obj.durac_contra }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
{% endblock %} {% block js %} {% endblock %}