{% extends 'base.html' %} {% block title %} Detalle Cobertura {{ obj.nombre }}{% endblock%} {% block css %} {% endblock %} {% block content %}
<div class="card mb-3">
    <h5 class="card-header font-weight-bolder text-primary">Detalles de Cobertura {{ obj.nombre }}</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <h5>Estado: <span class="text-primary font-weight-bold">{{ obj.estado|yesno:"Activo,Inactivo" }}</span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre: </label>
                            <p class="text-dark font-weight-bold">{{ obj.nombre }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Moneda: </label>
                            <p class="text-dark font-weight-bold">{{ obj.moneda }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Prima: </label>
                            <p class="text-dark font-weight-bold">{{ obj.prima }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Riesgo Reaseguro: </label>
                            <p class="text-dark font-weight-bold">{{ obj.riesgo_reas.nombre }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Cobertura de Reaseguro: </label>
                            <p class="text-dark font-weight-bold">{{ obj.cob_reas.nombre }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tasa de Cobertura: </label>
                            <p class="text-dark font-weight-bold">{{ obj.tasa_cob }}</p>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Prima de Cobertura: </label>
                            <p class="text-dark font-weight-bold">{{ obj.prima_cob }}</p>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Suma Asegurada de Cobertura: </label>
                            <p class="text-dark font-weight-bold">{{ obj.suma_aseg_cob }}</p>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Suma Asegurada Minima: </label>
                            <p class="text-dark font-weight-bold">{{ obj.suma_aseg_min }}</p>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Suma Asegurada Maxima: </label>
                            <p class="text-dark font-weight-bold">{{ obj.suma_aseg_max }}</p>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>S.A.M.I: </label>
                            <p class="text-dark font-weight-bold">{{ obj.suma_aseg_min_int }}</p>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Suma Asegurada Siniestros </label>
                            <p class="text-dark font-weight-bold">{{ obj.suma_aseg_sin }}</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Edad Minima: </label>
                            <p class="text-dark font-weight-bold">{{ obj.edad_min }}</p>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Edad Maxima: </label>
                            <p class="text-dark font-weight-bold">{{ obj.edad_max }}</p>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Periodo Espera Años: </label>
                            <p class="text-dark font-weight-bold">{{ obj.per_esp_an }}</p>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Periodo Espera Meses: </label>
                            <p class="text-dark font-weight-bold">{{ obj.per_esp_mes }}</p>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>% de Gastos de Adquisicion: </label>
                            <p class="text-dark font-weight-bold">{{ obj.porc_gast_adq }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>% de Anticipo: </label>
                            <p class="text-dark font-weight-bold">{{ obj.por_ant }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Monto Maximo de Anticipo: </label>
                            <p class="text-dark font-weight-bold">{{ obj.mnt_max_ant }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>% de Deducible: </label>
                            <p class="text-dark font-weight-bold">{{ obj.porc_deduc }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Monto de Deducible: </label>
                            <p class="text-dark font-weight-bold">{{ obj.mnt_deduc }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Copago Monto Base: </label>
                            <p class="text-dark font-weight-bold">{{ obj.copago }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>% Base Copago: </label>
                            <p class="text-dark font-weight-bold">{{ obj.porc_copago }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Cobertura de Reaseguro: </label>
                            <p class="text-dark font-weight-bold">{{ obj.copago }}</p>
                        </div>
                    </div>
                </div>

    </div>
</div>
{% endblock %} {% block js %} {% endblock %}