{% extends 'base.html' %} {% block title %} Detalle Riesgo de Reaseguro{% endblock%} {% block css %}
<style>
    .border-img {
        border: 5px solid #001e6c !important;
    }
</style>
{% endblock %} {% block content %}
<div class="card mb-3">
    <h5 class="card-header font-weight-bolder text-primary">Informacion de {{ obj.codigo }}</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <h5>Estado: <span class="text-primary font-weight-bold">{{ obj.estado|yesno:"Activo,Inactivo" }}</span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nombre: </label>
                    <p class="text-dark font-weight-bold">{{ obj.nombre }}</p>
                </div>
            </div>
        </div>

        
    </div>
</div>
{% endblock %} {% block js %} {% endblock %}