{% extends 'base.html' %} {% block title %} Detalle Medicamento {{ obj.nombre }}{% endblock %} {% block css %}
    <style>

    </style>
{% endblock %} {% block content %}
    <div class="card mb-3">
        <h5 class="card-header font-weight-bolder text-gray-900">Detalles del Medicamento</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="obsv" class="">Codigo EAN: </label>
                        <p class="text-gray-900 font-weight-bold">{{ obj.codigo_ean }}</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nombre del Medicamento: </label>
                        <p class="text-gray-900 font-weight-bold">{{ obj.nombre }}</p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Principio Activo: </label>
                        <p class="text-gray-900 font-weight-bold">{{ obj.princ_activo }}</p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Precio Maximo: </label>
                        <p class="text-gray-900 font-weight-bold"> $ {{ obj.precio_max }}</p>
                    </div>
                </div>

                <div class="col-md-2">
                     <div class="form-group">
                        <label>Laboratorio: </label>
                        <p class="text-gray-900 font-weight-bold">{{ obj.lab.nombre }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Forma: </label>
                        <p class="text-gray-900 font-weight-bold">{{ obj.forma }}</p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Presentacion: </label>
                        <p class="text-gray-900 font-weight-bold">{{ obj.presentacion }}</p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Via Administracion: </label>
                        <p class="text-gray-900 font-weight-bold">{{ obj.via_admin }}</p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Cantidad: </label>
                        <p class="text-gray-900 font-weight-bold">{{ obj.qty }}</p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Concentracion: </label>
                        <p class="text-gray-900 font-weight-bold">{{ obj.concentra }}</p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Unidad de Medida: </label>
                        <p class="text-gray-900 font-weight-bold">{{ obj.um }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                     <div class="form-group">
                        <label for="obsv" class="">Indicaciones: </label>
                        <textarea id="obsv" class="form-control text-gray-900 font-weight-bold" rows="7" readonly>{{ obj.indicaciones }}</textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                     <div class="form-group">
                        <label for="obsv" class="">ContraIndicaciones: </label>
                        <textarea id="obsv" class="form-control text-gray-900 font-weight-bold" rows="7" readonly>{{ obj.contra }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} {% block js %} {% endblock %}