{% extends 'base.html' %}
{% load static %}
{% block title %} Lista Medicamentos{% endblock %}
{% block css %}
    <style>
        .illustration {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 801px;
            height: 632px;
            background: url({% static 'img/undraw_empty_xct9.svg' %});
            background-size: cover;
        }
    </style>
{% endblock %}
{% block content %}
    {% if messages %}
        <div class=" alert alert-success alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endfor %}
        </div>
    {% endif %}

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h4 class="m-0 font-weight-bold text-gray-900">Lista Medicamentos</h4>
            <div class="dropdown no-arrow">
                <a class="btn btn-success tn-block" href="{% url 'sin:crear-medilist' %}" role="button">
                    <i class="fas fa-plus fa-sm fa-fw "></i>
                    Agregar
                </a>
            </div>
        </div>

        <div class="card-body">
            {% if not obj %}
                <div class="col-md-12">
                    <h2 class="font-weight-bold text-center">No Hay Medicamentos</h2>
                    <div class="illustration"></div>
                </div>
            {% else %}
                <div class="col-md-6 mb-3 pl-0">

                    <a class="btn btn-outline-brand-excel" href="{% url 'sin:xlsexport-medilist' %}" role="button">
                        <i class="fas fa-file-excel fa-fw "></i>
                        Excel
                    </a>
                    <a class="btn btn-outline-brand-google" href="{% url 'sin:pdfexport-medi' %}" role="button" target="_blank">
                        <i class="fas fa-file-pdf fa-fw "></i>
                        PDF
                    </a>
                </div>
                <table id="table" class="table table-striped table-hover text-center">
                    <thead class="thead-primary">
                    <th>ID</th>
                    <th>Codigo EAN</th>
                    <th>Nombre</th>
                    <th>Principio Activo</th>
                    <th>Precio Maximo</th>
                    <th class="all">Acciones</th>
                    </thead>
                    <tbody>
                    {% for item in obj %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.codigo_ean }}</td>
                            <td>{{ item.nombre }}</td>
                            <td>{{ item.princ_activo }}</td>
                            <td>{{ item.precio_max }}</td>
                            <td>

                                <a href="{% url 'sin:detail-medilist' item.id %}" class="btn btn-sm btn-info mr-2"
                                   role="button"><i class="fa fa-eye"></i></a>
                                {% if perms.reinsurance.can_edit_reinsurancerisk %}
                                    <a href="{% url 'sin:update-medilist' item.id %}" class="btn btn-sm btn-warning mr-2 "
                                       role="button"><i class="fa fa-edit"></i></a>
                                {% endif %}

                                <a href="{% url 'cliente:disable-cliente' item.id %}" class="btn btn-sm btn-danger mr-2"
                                   role="button"><i class="fa fa-trash-alt"></i></a>


                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function () {
            $('.table').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "<span class='fa fa-angle-double-left'></span>",
                        "sLast": "<span class='fa fa-angle-double-right'></span>",
                        "sNext": "<span class='fa fa-angle-right'></span>",
                        "sPrevious": "<span class='fa fa-angle-left'></span>"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>
{% endblock %}