{% extends 'base.html' %}
{% load static %}
{% block title %} Inicio{% endblock %}
{% block css %}
    <style>
        .illustration {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 801px;
            height: 632px;
            background: url({% static 'img/undraw_screen_time_vkev.svg' %});
            background-size: 801px 632px;
        }

        .item {
            height: 10rem;
            background: #1a3263;
            padding: 1rem;
            color: white;
        }

        .big-title {
            font-size: 4em;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="mb-5">
        <h1 class="text-primary font-weight-bolder big-title">Bienvenido {{ user.username }}</h1>
    </div>

    <h1 class="text-gray-900 font-weight-bold mb-3">Metricas</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md-left font-weight-bold text-primary text-uppercase mb-1">
                                {% if clients_total > 1 %}
                                    Clientes
                                {% else %}
                                    Cliente
                                {% endif %}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-900"><a href="{% url 'cliente:lista-cliente' %}">{{ clients_total }}</a></div>
                        </div>
                        <div class="col-auto">
                            {% if clients_total > 1 %}
                                <i class="fas fa-users fa-2x text-primary"></i>
                            {% else %}
                                <i class="fas fa-user fa-2x text-primary"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md-left font-weight-bold text-primary text-uppercase mb-1">
                                {% if plans_total > 1 %}
                                    Planes
                                {% else %}
                                    Plan
                                {% endif %}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-900"><a href="{% url 'cov:lista-plan' %}">{{ plans_total }}</a></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-file fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md-left font-weight-bold text-primary text-uppercase mb-1">
                                {% if coverages_total > 1 %}
                                    Coberturas
                                {% else %}
                                    Cobertura
                                {% endif %}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-900"><a href="{% url 'cov:lista-cov' %}">{{ coverages_total }}</a></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-file-alt fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md-left font-weight-bold text-primary text-uppercase mb-1">
                                {% if insurances_total > 1 %}
                                    Seguros
                                {% else %}
                                    Seguro
                                {% endif %}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-900"><a href="{% url 'cov:lista-ins' %}">{{ insurances_total }}</a></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-id-card fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md-left font-weight-bold text-primary text-uppercase mb-1">
                                {% if concepts_total > 1 %}
                                    Conceptos de Transacciones
                                {% else %}
                                    Concepto de Transaccion
                                {% endif %}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-900"><a href="{% url 'sin:lista-concept' %}">{{ concepts_total }}</a></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-heart-broken fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md-left font-weight-bold text-primary text-uppercase mb-1">
                                {% if transactions_total > 1 %}
                                    Transacciones de Siniestros
                                {% else %}
                                    Transaccion de Siniestro
                                {% endif %}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-900"><a href="{% url 'sin:lista-trans' %}">{{ transactions_total }}</a></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-ambulance fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md-left font-weight-bold text-primary text-uppercase mb-1">
                                {% if medicines_total > 1 %}
                                    Grupos de Medicamentos
                                {% else %}
                                    Grupo de Medicamento
                                {% endif %}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-900"><a href="{% url 'sin:lista-medi' %}">{{ medicines_total }}</a></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-prescription fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md-left font-weight-bold text-primary text-uppercase mb-1">
                                {% if medicines_list_total > 1 %}
                                    Medicamentos
                                {% else %}
                                    Medicamento
                                {% endif %}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-900"><a href="{% url 'sin:lista-medilist' %}">{{ medicines_list_total }}</a></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-capsules fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-5 mb-5 illustration center">

        </div>
        <div class="mt-5 owl-carousel owl-theme">
            <div class="item"><h4>1</h4></div>
            <div class="item"><h4>2</h4></div>
            <div class="item"><h4>3</h4></div>
            <div class="item"><h4>4</h4></div>
            <div class="item"><h4>5</h4></div>
            <div class="item"><h4>6</h4></div>
            <div class="item"><h4>7</h4></div>
            <div class="item"><h4>8</h4></div>
            <div class="item"><h4>9</h4></div>
            <div class="item"><h4>10</h4></div>
            <div class="item"><h4>11</h4></div>
            <div class="item"><h4>12</h4></div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
{% endblock %}