{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Cambiar Contraseña{% endblock%}
{% block css %}
    <style>
        .illustration{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 401px;
            height: 332px;
            background: url({% static 'img/undraw_forgot_password_gi2d.svg' %});
            background-size: 401px 332px;
        }
    </style>
{% endblock %}
{% block content %}
    <form method="POST" >
     {% csrf_token %}
    <div class="">
    {% if messages %}
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
{% endif %}
              <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-2"> <h5>Cambiar Contraseña</h5></div>

                            {% crispy form %}
                        <br>
                            <button type="submit" class="btn btn-secondary"> <i class="fa fa-save"></i> Cambiar</button>

                    </div>
                      <div class="col-auto illustration">

                    </div>

                  </div>
                </div>
              </div>
            </div>
</form>
{% endblock %}