{% extends 'base.html' %}
{% load static %}
{% block title %} Monedas{% endblock%}
{% block css %}
    <style>
        .illustration{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 801px;
            height: 632px;
            background: url({% static 'img/undraw_empty_xct9.svg' %});
            background-size: cover;
        }
    .dollar-bg:hover{
        background-color: #44c662 !important;
        color: white !important;
    }
    .euro-bg:hover{
        background-color: #001e6c !important;
        color: white !important;
    }
    .mxn-bg:hover{
        background-color: #eca106 !important;
        color: white !important;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h4 class="m-0 font-weight-bold text-primary">Tipos de Monedas</h4>
                  <div class="dropdown no-arrow">
                       {% if perms.company.can_add_currencytype %}
                    <a class="btn btn-success tn-block" href="" role="button" >
                      <i class="fas fa-plus fa-sm fa-fw "></i>
                        Agregar
                    </a>
                      {% endif %}

                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  {% if not obj %}
                      <div class="col-md-12">
                          <h2 class="font-weight-bold text-center">No hay monedas</h2>
                          <div class="illustration"></div>
                      </div>
                    {% else %}
                <table class="table table-striped table-hover text-center">
                    <thead class="thead-primary">
                    <th>Codigo</th>
                    <th>Descripcion</th>

                    </thead>
                    <tbody>
                    {% for item in obj %}
                        {% if item.codigo == 'MXN' %}
                        <tr class="mxn-bg">
                        <td> <i class="fas fa-money-bill-wave"></i> {{ item.codigo }}</td>
                        <td>{{ item.descripcion }}</td>
                        </tr>
                        {% elif item.codigo == 'USD' %}
                            <tr class="dollar-bg">
                        <td> <i class="fas fa-money-bill-wave"></i> {{ item.codigo }}</td>
                        <td>{{ item.descripcion }}</td>
                        </tr>
                        {% else %}
                            <tr class="euro-bg">
                        <td> <i class="fas fa-money-bill-wave"></i> {{ item.codigo }}</td>
                        <td>{{ item.descripcion }}</td>
                        </tr>
                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                </div>
              </div>
{% endblock %}
{% block js %}

{% endblock %}