{% extends 'base.html' %}
{% load static %}
{% block title %} Informacion de la empresa{% endblock%}
{% block css %}
    <style>
        .illustration{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 1039px;
            height: 623px;
            background: url({% static 'img/undraw_annotation_7das.svg' %}) no-repeat center;
            background-size: 50% 50%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="card">
  <h4 class="card-header font-weight-bolder text-primary">Informacion de la empresa</h4>
  <div class="card-body">
      {% for item in obj %}
   <div class="row">
       <div class="col-md-12">
          <div class="form-group">
                  <label>Nombre: </label>
                  <p class="text-dark font-weight-bold">{{ item.nombre }}</p>
          </div>
       </div>
   </div>
          <div class="row">
       <div class="col-md-12">
          <div class="form-group">
                  <label>Direccion: </label>
                  <p class="text-dark font-weight-bold">{{ item.direccion }} #{{ item.no_ext }} {{ item.colonia }}, {{ item.ciudad }} {{ item.estado }}, {{ item.cp }}</p>
          </div>
       </div>
   </div>

          <div class="row">
       <div class="col-md-4">
          <div class="form-group">
                  <label>Telefono: </label>
                  <p class="text-dark font-weight-bold">{{ item.tel }}</p>
          </div>
       </div>
          <div class="col-md-4">
          <div class="form-group">
                  <label>Email: </label>
                  <p class="text-dark font-weight-bold">{{ item.email }}</p>
          </div>
       </div>
          <div class="col-md-4">
          <div class="form-group">
                  <label>RFC: </label>
                  <p class="text-dark font-weight-bold">{{ item.rfc }}</p>
          </div>
       </div>
   </div>
      {% endfor %}
  </div>
</div>
    <div class="illustration">

    </div>
{% endblock %}
{% block js %}

{% endblock %}