{% extends 'base.html' %} {% block title %} Detalle Grupo Medicamento {{ obj.nombre }}{% endblock %} {% block css %}
    <style>
        .table-bordered {
            border: 3px solid #001e6c !important;
        }
    </style>
{% endblock %} {% block content %}
    <div class="card mb-3">
        <h5 class="card-header font-weight-bolder text-gray-900">Detalles del Grupo Medicamento {{ obj.codigo }}</h5>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover text-center">
                <thead class="thead-primary">
                <th>Nombre</th>
                <th>Precio Minimo</th>
                <th>Precio Maximo</th>
                </thead>
                <tbody>
                <tr>
                    <td>{{ obj.nombre }}</td>
                    <td>{{ obj.precio_min }}</td>
                    <td>{{ obj.precio_max }}</td>
                </tr>
                </tbody>
            </table>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="obsv" class="">Observaciones: </label>
                        <textarea id="obsv" class="form-control text-gray-900 font-weight-bold" rows="7" readonly>{{ obj.obsv }}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Requiere Autorizacion: </label>
                            <p class="text-gray-900 font-weight-bold">{{ obj.req_auth|yesno:"Si,No" }}</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Autorizacion Medica: </label>
                            <p class="text-gray-900 font-weight-bold">{{ obj.auth_med|yesno:"Si,No" }}</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Autorizacion Medico Area: </label>
                            <p class="text-gray-900 font-weight-bold">{{ obj.auth_med_area|yesno:"Si,No" }}</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Autorizacion Call Center: </label>
                            <p class="text-gray-900 font-weight-bold">{{ obj.auth_call_center|yesno:"Si,No" }}</p>
                    </div>
                </div>
            </div>
            <br>
            <h4 class="text-primary font-weight-bolder">
                {% if obj.medicamento.count > 1 %}
                    Medicamentos
                {% else %}
                    Medicamento
                {% endif %}
            </h4>
        <table class="table table-striped table-bordered table-hover text-center">
            <thead class="thead-primary">
                <th>ID</th>
                <th>Codigo EAN</th>
                <th>Nombre</th>
                <th>Principio Activo</th>
                <th>Precio Maximo</th>
            </thead>
            <tbody>
                {% for item in obj.medicamento.all %}
                <tr>
                    <td><a href="{% url 'sin:detail-medilist' item.id %}">{{ item.id }}</a></td>
                    <td>{{ item.codigo_ean }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.princ_activo }}</td>
                    <td>{{ item.precio_max }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %} {% block js %} {% endblock %}