<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reporte de Grupo de Medicamentos</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }

        .title{
            text-align: center;
            font-size: 2em;
        }

        .subtitle{
            text-align: center;
            font-size: 1.5em;
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }

        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }

        .table tbody + tbody {
            border-top: 2px solid #000;
        }

        .table .table {
            background-color: #fff;
        }

        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="title">Seguro de las Californias</h1>
        </div>

        <div class="list-group">
            <h3 class="subtitle">Reporte de Grupo de Medicamentos - {{ today | date:"d/m/Y" }}</h3>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio Minimo</th>
                <th>Precio Maximo</th>
            </tr>
            </thead>
            <tbody>
            {% for item in clients %}
                        <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.codigo }}</td>
                        <td>{{ item.nombre }}</td>
                            <td>{{ item.precio_min }}</td>
                            <td>{{ item.precio_max }}</td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>