{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Agregar Cliente{% endblock%}
{% block css %}
    <style>
        label{
            color: #333;
            font-weight:700;
        }
    </style>
{% endblock %}
{% block content %}
    <form method="POST" >
     {% csrf_token %}
    <div class="">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-2"> <h5>Nuevo Cliente</h5></div>

                            {% crispy form %}
                        <br>
                            <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Agregar</button>

                    </div>

                  </div>
                </div>
              </div>
            </div>
</form>
{% endblock %}