{% extends 'base.html' %}
{% block title %} Detalle Cliente{% endblock%}
{% block css %}
    <style>
    .border-img{
        border: 5px solid #143261 !important;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5  class="m-0 font-weight-bold text-primary">Informacion de {{ obj.apep }} {{ obj.apem }} {{ obj.nombre }}</h5>
        <div class="dropdown no-arrow">
                       {% if perms.client.can_add_client %}
                    <a class="btn btn-outline-danger btn-block" href="{% url 'cliente:pdfexport-cliente-det' obj.pk %}" role="button" target="_blank">
                      <i class="fas fa-file-pdf fa-fw "></i>
                        PDF
                    </a>
                      {% endif %}
                  </div>
    </div>

  <div class="card-body">
      <div class="row">
          <div class="col-md-12 text-right">
              <h5>Estado: <span class="text-primary font-weight-bold">{{ obj.estado|yesno:"Activo,Inactivo" }}</span></h5>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-right">

             <i style="color: black" class=" border-img p-3 fa fa-7x  fa-user"></i>

          </div>
      </div>
          <div class="row">
       <div class="col-md-12">
          <div class="form-group">
                  <label>Direccion: </label>
                  <p class="text-dark font-weight-bold">{{ obj.direccion }} #{{ obj.no_ext }} {{ obj.colonia }}, {{ obj.ciudad }}, {{ obj.cp }}, {{ obj.pais }}</p>
          </div>
       </div>
   </div>

          <div class="row ">
       <div class="col-md-3">
          <div class="form-group">
                  <label>Telefono: </label>
                  <p class="text-dark font-weight-bold ">{{ obj.tel }}</p>
          </div>
       </div>
          <div class="col-md-3">
          <div class="form-group">
                  <label>Email: </label>
                  <p class="text-dark font-weight-bold">{{ obj.email }}</p>
          </div>
       </div>
          <div class="col-md-3">
          <div class="form-group">
                  <label>Documento Oficial: </label>
                  <p class="text-dark font-weight-bold">{{ obj.tipodoc }}</p>
          </div>
       </div>
              <div class="col-md-3">
          <div class="form-group">
                  <label>No de Documento Oficial: </label>
                  <p class="text-dark font-weight-bold">{{ obj.nodocof }}</p>
          </div>
       </div>
   </div>
  </div>
</div>

    <div class="card">
  <h5 class="card-header font-weight-bolder text-primary">Proximo Modulos a Agregar</h5>
  <div class="card-body">

  </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}