{% extends 'base.html' %}
{% load static %}
{% block title %} Clientes{% endblock %}
{% block css %}
    <style>
        .illustration {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 801px;
            height: 632px;
            background: url({% static 'img/undraw_empty_xct9.svg' %});
            background-size: cover;
        }
    </style>
{% endblock %}
{% block content %}
    {% if messages %}
        <div class=" alert alert-success alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endfor %}
        </div>
    {% endif %}
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h4 class="m-0 font-weight-bold text-primary">Clientes</h4>
            <div class="dropdown no-arrow">
                {% if perms.client.can_add_client %}
                    <a class="btn btn-success btn-block" href="{% url 'cliente:agregar-cliente' %}" role="button">
                        <i class="fas fa-plus fa-sm fa-fw "></i>
                        Agregar
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            {% if not obj %}
                <div class="col-md-12">
                    <h2 class="font-weight-bold text-center">No hay clientes</h2>
                    <div class="illustration"></div>
                </div>
            {% else %}
                <div class="col-md-6 mb-3 pl-0">

                    <a class="btn btn-outline-brand-excel" href="{% url 'cliente:xlsexport-cliente' %}" role="button">
                        <i class="fas fa-file-excel fa-fw "></i>
                        Excel
                    </a>
                    <a class="btn btn-outline-brand-google" href="{% url 'cliente:pdfexport-cliente' %}" role="button" target="_blank">
                        <i class="fas fa-file-pdf fa-fw "></i>
                        PDF
                    </a>
                </div>
                <table class="table table-striped table-hover text-center table-responsive">
                    <thead class="thead-primary">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Documento Oficial</th>
                        <th>No. Doc. Oficial</th>
                        <th>Fecha de Ingreso</th>
                        <th>Estado</th>
                        <th class="all">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in obj %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.apep }} {{ item.apem }} {{ item.nombre }}</td>
                            <td>{{ item.tipodoc }}</td>
                            <td>{{ item.nodocof }}</td>
                            <td>{{ item.fc }}</td>
                            <td>{{ item.estado|yesno:"Activo,Inactivo" }}</td>
                            <td>
                                <div class="row ">
                                    <a href="{% url 'cliente:detail-cliente' item.id %}"
                                       class="btn btn-sm btn-info mr-1" role="button"><i class="fa fa-eye"></i></a>
                                    {% if perms.client.can_edit_client %}
                                        <a href="{% url 'cliente:update-cliente' item.id %}"
                                           class="btn btn-sm btn-warning mr-1 " role="button"><i class="fa fa-edit"></i></a>
                                    {% endif %}
                                    {% if item.estado != False %}
                                        <a href="{% url 'cliente:disable-cliente' item.id %}"
                                           class="btn btn-sm btn-danger mr-1" role="button"><i
                                                class="fa fa-trash-alt"></i></a>
                                    {% else %}
                                        <a href="{% url 'cliente:enable-cliente' item.id %}"
                                           class="btn btn-sm btn-success mr-1" role="button"><i class="fa fa-check"></i></a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function () {
            $('.table').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "<span class='fa fa-angle-double-left'></span>",
                        "sLast": "<span class='fa fa-angle-double-right'></span>",
                        "sNext": "<span class='fa fa-angle-right'></span>",
                        "sPrevious": "<span class='fa fa-angle-left'></span>"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>
{% endblock %}