<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reporte de Cliente</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 0;
        }

        .card-header{
            background-color:#0e1a33;
            color: white;
            height:100px;
            padding: 50px;
        }

        .title{
            text-align: center;
            font-size: 2.5em;

        }

        .subtitle{
            text-align: center;
            font-size: 2.0em;
        }

        .text{
            font-size: 1.5em;
            margin: 1cm;
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }

        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }

        .table tbody + tbody {
            border-top: 2px solid #000;
        }

        .table .table {
            background-color: #fff;
        }

        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="title">Seguro de las Californias</h1>
        </div>

        <div class="list-group">
            <h3 class="subtitle">Reporte de Cliente {{ clientdet.id }} - {{ today | date:"d/m/Y" }}</h3>
        </div>

        <div class="row">
            <h3 class="text"> Nombre: <span> {{ clientdet.apep }} {{ clientdet.apem }} {{ clientdet.nombre }}</span></h3>
            <h3 class="text"> Direccion: <span> {{ clientdet.direccion }} #{{ clientdet.no_ext }} {{ clientdet.colonia }}, {{ clientdet.ciudad }}, {{ clientdet.cp }}, {{ clientdet.pais }}</span></h3>
            <h3 class="text"> No. Telefono: <span> {{ clientdet.tel }}</span></h3>
            <h3 class="text"> Email: <span> {{ clientdet.email }}</span></h3>
            <h3 class="text"> Documento Oficial: <span> {{ clientdet.tipodoc }}</span></h3>
            <h3 class="text"> No. Documento Oficial: <span> {{ clientdet.nodocof }}</span></h3>
        </div>

    </div>
</div>

</body>
</html>