 <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-heartbeat"></i>
        </div>
        <div class="sidebar-brand-text mx-1">  Seguro de las Californias</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Inicio</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      {% comment %}<div class="sidebar-heading">
        I
      </div>{% endcomment %}

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-tasks"></i>
          <span class="">Emision y Procesos Masivos</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Seguros:</h6>
               <a class="collapse-item" href="{% url 'cov:lista-ins' %}">Seguros</a>
                <a class="collapse-item" href="{% url 'cov:lista-plan' %}">Planes</a>
                <a class="collapse-item" href="{% url 'cov:lista-cov' %}">Coberturas</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-ambulance"></i>
          <span>Siniestros</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Trans. de Siniestros:</h6>
            <a class="collapse-item" href="{% url 'sin:lista-trans' %}">Transacciones</a>
            <a class="collapse-item" href="{% url 'sin:lista-concept' %}">Conceptos</a>
            <h6 class="collapse-header">Mantenimientos:</h6>
            <a class="collapse-item" href="{% url 'sin:lista-medi' %}">Medicamentos</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      {% comment %}<hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Addons
      </div>{% endcomment %}

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Reaseguro</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
{#            <h6 class="collapse-header">Login Screens:</h6>#}
            <a class="collapse-item" href="{% url 'reins:lista-rein' %}">Riesgos de Reaseguro</a>
            <a class="collapse-item" href="{% url 'reins:lista-reinco' %}">Grupos de Coberturas</a>
            <a class="collapse-item" href="{% url 'reins:lista-reincont' %}">Tipos de Contrato</a>
            <div class="collapse-divider"></div>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClients" aria-expanded="true" aria-controls="collapseClients">
          <i class="fas fa-fw fa-users"></i>
          <span>Clientes y Agentes</span></a>
        </a>
        <div id="collapseClients" class="collapse" aria-labelledby="headingClients" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
{#            <h6 class="collapse-header">Login Screens:</h6>#}
            <a class="collapse-item" href="{% url 'cliente:lista-cliente' %}">Clientes</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-dollar-sign"></i>
          <span>Cobranza</span></a>
      </li>

     <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-calculator"></i>
          <span>Area Tecnica</span></a>
      </li>

     <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-money-bill"></i>
          <span>Contabilidad</span></a>
      </li>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConf" aria-expanded="true" aria-controls="collapseConf">
         <i class="fas fa-fw fa-cogs"></i>
          <span>Configuracion</span>
        </a>
        <div id="collapseConf" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'cmp:lista-comp' %}">Datos de la empresa</a>
              <h6 class="collapse-header">Parametros Generales:</h6>
              <a class="collapse-item" href="{% url 'cmp:lista-curr' %}">Monedas</a>
            <a class="collapse-item" href="#">Calendario Semanal </a>
          </div>
        </div>
      </li>



      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
